@import "../../../variables";

:host {
  @extend %app-column;
}

.stack-list {
  white-space: pre;
  margin-bottom: 1rem;
}

.stack-controls {
  margin-right: 1rem;
  margin-bottom: 1rem;

  .stack-controls__btn {
    @extend %btn-styles;
    margin-left: 1rem;
  }

  .stack-controls__input {
    width: 500px;
  }
}
