<p class="binary-search-list">{{recordsList}}</p>
<div class="app-row binary-search-controls">
    <input
            class="binary-search-controls__input"
            type="text"
            [(ngModel)]="nameToFind"
            (keydown.enter)="searchName()"
    />
    <button
            class="binary-search-controls__btn"
            [disabled]="!nameToFind?.length"
            (click)="searchName()"
    >
        Search
    </button>
    <button
            class="binary-search-controls__btn"
            [disabled]="!nameToFind || !searchResult"
            (click)="clearSearch()"
    >
        Clear search
    </button>
</div>

<p class="binary-search_output">{{result}}</p>
