@import "../../../../variables";

:host {
  @extend %app-column;
}

.binary-search-list {
  white-space: pre;
  margin-bottom: 1rem;
}

.binary-search-controls {
  margin-right: 1rem;
  margin-bottom: 1rem;

  .binary-search-controls__btn {
    @extend %btn-styles;
    margin-left: 1rem;
  }

  .binary-search-controls__input {
    width: 500px;
  }
}
