@import "../../../variables";

:host {
  @extend %app-column;
}

.block-label {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.input-wrapper {
  margin-right: 1rem;
  margin-bottom: 1rem;

  .input-wrapper__btn {
    @extend %btn-styles;
    margin-left: 1rem;
  }

  .input-wrapper__input {
    width: 500px;
  }
}
