body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(246, 237, 198);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'calibri';
}

.main-wrapper {
  height: 80vh;
  min-width: 350px;
  width: 50vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: rgb(233, 195, 110);
  border-radius: 20px;
}

.subwrapper {
  margin-top: 1rem;
  height: 90%;
  width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(255, 247, 212);
  padding: 20px;
  border-radius: 20px;
}

.main-title {
  margin: 0;
  color: #fff;
}

.register-student-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 95%;
  position: relative;
  top: 0;
  margin-bottom: 35px;
}

.title-and-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.title {
  padding-top: 5px;
  position: relative;
  z-index: 5;
  height: 30px;
  width: 130px;
  color: rgb(84, 59, 11);
}

.subject-title {
  width: 170px;
  margin-right: 80px;
}

.input-info {
  position: relative;
  z-index: 2;
  height: 30px;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding-left: 15px;
}

.select-value {
  width: 50px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  font-size: 0.8rem;
}

.line {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: rgb(96, 63, 0);
  size: 3px;
}

#submit-btn {
  position: relative;
  margin-left: 170px;
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(96, 63, 0);
  color: rgb(231, 228, 222);
  font-size: 0.9rem;
  cursor: pointer;
}
#submit-btn:hover {
  background-color: rgb(125, 83, 3);
  color: #fff;
}

.modalbox-open-btn {
  width: 130px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background-color: rgb(96, 63, 0);
  color: rgb(231, 228, 222);
  font-size: 0.9rem;
  cursor: pointer;
}
.modalbox-open-btn:hover {
  background-color: rgb(125, 83, 3);
  color: #fff;
}

.modalbox-container {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.modalbox--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalbox__background {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.7);
}

.modalbox {
  position: fixed;
  top: 2.5%;
  height: 95%;
  width: 70%;
  border-radius: 5px;
  background-color: rgb(230, 219, 193);
  z-index: 20;
}

.modalbox__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modalbox__title {
  font-size: 2rem;
  color: rgb(56, 41, 6);
}

.modalbox__close-btn {
  position: absolute;
  right: 0;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(96, 63, 0);
}

.cross {
  color: rgb(231, 228, 222);
  font-size: 1.5rem;
  transform: rotate(45deg);
}

.modalbox__close-btn:hover {
  background-color: rgb(125, 83, 3);
}

.modalbox__close-btn:hover .cross {
  color: #fff;
}

.modalbox__content {
  overflow: hidden;
}
