$text-color: rgba(0, 0, 0, 0.67);
$regular-btn-color: #123;

%app-column {
  display: flex;
  flex-direction: column;
}

%app-row {
  display: flex;
  flex-direction: row;
}

%highline-styles {
  &:not(:disabled) {
    background: #ffffff06;
    color: #adf;
  }
}

%btn-base {
  &:not(:disabled) {
    cursor: pointer;
  }

  color: #9ab;
  padding: .75em;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all .5s;

  &:hover {
    @extend %highline-styles;
  }
}

%btn-styles {
  @extend %btn-base;

  &:not(:disabled) {
    background-color: $regular-btn-color;
  }

  border: none;
  border-radius: 0.8rem;
}
